@font-face {
	font-family: 'Canela Web';
	src: url('Canela-Thin-Web.woff2') format('woff2'),
		 url('Canela-Thin-Web.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	}

.Canela-Thin-Web {
	font-family: 'Canela Web';
	font-weight: 100;
	font-style: normal;
	}
